@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    background: rgb(0, 0, 0) url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
    

}
main{
    background-color: rgba(255, 255, 255, 0.171);
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    
}

img{
    display: block;
    margin: auto;
    
    
}


img.tv{display: none;}
img.pc{display: none;}
img.tablet{display: none;}
img.impressao{display: none;}