@charset "UTF-8";

/*todas as demais midias*/

/*typical device breakpoints*/

@media print{
    body{
        background-image: url(../imagens/back-print.jpg);
    }

    img.tv{display: none;}
    img.pc{display: none;}
    img.tablet{display: none;}
    img.impressao{display: block;}
    img.celular{display: none;}
}
@media  screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: url(../imagens/back-tablet.jpg);
    }


    img.tv{display: none;}
    img.pc{display: none;}
    img.tablet{display: block;}
    img.impressao{display: none;}
    img.celular{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img.tv{display: none;}
    img.pc{display: block;}
    img.tablet{display: none;}
    img.impressao{display: none;}
    img.celular{display: none;}
    
}

@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);

    }

    .tv{
        width: 250px;
    }

    img.tv{display: block;}
    img.pc{display: none;}
    img.tablet{display: none;}
    img.impressao{display: none;}
    img.celular{display: none;}
}