@charset "UTF-8";

@media screen and (min-width: 768px) {

    i#burguer{
        display: none;
    }
    menu{
        display: block;
        
    }

    menu > ul{
        text-align: left;
        background-color: gray;
    }
    menu > ul >li{
        display: inline-block ;
        width: 100px;
        border: 0px;
        
    }
    main{
        width: 50%;
    }

   
}